
.text-gray{
	color:$gris-oscuro;
}

.text-red{
	color:$rojo;
}

.text-white{
	color:$blanco;
}

h1,h3,h4,h6{
	font-weight:700;
}

a:hover{
	text-decoration:none;
}
a{
	text-decoration:none;
}
li{
	list-style: none;
	float:left;
	display:inline-block;
}

